@charset "utf-8";

.infected,
.recovered,
.deaths {
    box-shadow: 0px 0px 10px solid grey !important;
}

.infected {
    border-bottom: 10px solid rgba(153, 102, 255, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(75, 192, 192, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(255, 99, 132, 0.5);
}

.cases_content {
    padding: 30px 30px 35px 30px !important;
}